electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

# C++20 standard for Electron 39+
cxxflags=-std=c++20
cflags=-std=c17
